body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Verdana, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

html { 
	box-sizing: border-box; 
}
*, *::before, *::after { 
	box-sizing: inherit; 
}

a {
	text-decoration: none;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	width: 1200px;
	margin: 0 auto;
	color: #000000;
	background-color: #fff;
}

/*HEADER*/
.main-header {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	width:1200px;
	min-height: 57px;
	background-color: #ffffff;
	color: #000000;
}

.main-navigation {
	margin: 0 auto;
	max-width: 1056px;
	width: 100%;
}

.main-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;	
}

.main-list a {
	color: #000000;
}
.main-list a:hover {
	color: #81b3d2;
}
.main-list a:focus {
	color: #cacaca;
}
.main-list li:nth-child(2) {
	margin-right: 130px;
}
.main-list li:nth-child(3) {
	margin-left: 130px;
}

.main-header-logo {
	position: absolute;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
}
/*END HEADER*/
/*FEATURES*/
.features-header {
	text-align: center;
}
.features-header h1 {
	font-size: 21px;
}

.features-header p {
	font-weight: 400;
	color: #333333;
}
.features-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0;
	list-style: none;
}

.feature-item {
	text-align: center;
	display: flex;
	flex-direction: row;
	flex-basis: calc(33%);
}

.feature-item h2 {
	font-size: 21px;
	line-height: 21px;
}

.feature-item .feature-number {
	font-weight: 400;
	color: #333333;
}

.feature-item .feature-text {
	font-weight: 400;
	color: #333333;
}

.feature-item:first-child {
	order: -1;
}
.feature-option-item {
	display: flex;
	flex-direction: column;
	min-height: 330px;
	order: -1;

	padding: 49px 49px 45px 49px;
	justify-content: center;
}


.feature {
	width: 400px;
	min-height: 256px;
	padding: 49px 49px 45px 49px;
}

.feature-blue {
	width: 400px;
	min-height: 256px;
	padding: 49px 49px 24px 49px;
	background-color: #81b3d2;
	color: #ffffff;
}

.feature.feature-gray {
	background-color: #eeeeee;
}

.feature-heading {
	width: 155px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 20px;
}

.feature-blue .feature-number,
.feature-blue .feature-text {
	color: #ffffff;
}
/*END FEATURES*/
/*SEARCH & FORM*/
.search {
	text-align: center;
}

.search-question {
	display: block;

	font-size: 30px;
	line-height: 36px;
	margin-bottom: 26px;
}
.search-text {
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	margin-bottom: 44px;
	color: #333333;
}

.btn-search {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	
	padding: 35px 140px;
	vertical-align: middle;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;

	background-color: #766357;
	border: none;
}

.btn-search:hover {
	background-color: #604e43;
}

.btn-search:focus {
	color: #928a85;
	background-color: #503e33;
}

.search-form-row input {
	font: inherit;
	text-transform: uppercase;

	background-color: #f2f2f2;
	border: none;
}

.search-form-row input:hover {
	background-color: #ebebeb;
}

.search-form-row input:focus {
	background-color: #ffffff;
	border: 2px solid #e5e5e5;
}

.amount-btn {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	
	color: #a9a9a9;
	vertical-align: middle;
	text-align: center;

	border: none;
}

.amount-btn:hover {
	color: #000000;
}

.amount-btn:focus {
	color: #81b3d2;
}

.search-form-calendar {
	width: 24px;
	height: 23px;
	vertical-align: middle;
	
	color: #cacaca;
	background-image: url(../img/calendar.svg);
	background-repeat: no-repeat;
	background-color: transparent;
	
	border: none;
}

.search-form-find {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	
	padding: 21px 196px;
	vertical-align: middle;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;

	background-color: #81b3d2;
	border: none;
}

.search-form-find:hover {
	background-color: #669ec0;
}

.search-form-find:focus {
	color: #94b9d2;
	background-color: #5496bd;
}
/*END SEARCH & FORM*/
/*FOOTER*/
.main-footer {
	width: 100%;
	max-width: 967px;
	min-height: 120px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.hash {
	font-size: 21px;
}

.footer-social {
	text-align: center;
}

.footer-copyright {
	text-align: center;
}

.footer-copyright b {
	font-weight: 400;
}
/*END FOOTER*/

/*HOTELS PAGE*/

.main-list .active {
	color: #766357;
}
/*FILTER*/
.filter-form {
	min-height: 217px;
	background-color: #3c719c; /* До подключения изображения */
	color: #ffffff;
}

.filter-form form {
	display: flex;
	flex-direction: row;
	width: 100%;
	max-width: 1056px;
	margin: 0 auto;
}

.filter-form-column {
	border: none;
	margin: 0;
	padding: 0;
}

.filter-form-column:first-child {
	margin-right: 116px;
}

.filter-form-column:last-child {
	margin-left: auto;
}

.filter-form-column legend {
	font-size: 16px;
	line-height: 21px;

}

.filter-form-column label {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
}

.price-fields {
	border: 2px solid #ffffff;
	border-radius: 2px;
}
.price-fields input {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	
	color: #ffffff;
	background-color: transparent;
	border: none;

}

.filter-form-submit {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;

	text-transform: uppercase;
	color: #ffffff;
	background-color: transparent;
	
	border: 2px solid #ffffff;
	border-radius: 2px;
}

.filter-form-submit:hover {
	color: #000000;
	background-color: #ffffff;
}
/*END FILTER*/
/*HOTELS*/
.search-results {
	width: 1056px;
	margin: 0 auto;
}

.search-results-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	min-height: 87px;
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
}

.search-results-header ul {
	display: flex;
	flex-direction: row;
	width: 775px;
	margin: 0;
	list-style: none;
}

.sorting-list-title {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 49px;
}

.sorting-list-item {
	margin-right: 33px;
}
.sorting-list-item:last-child {
	margin-right: 0;
	margin-left: auto;
}

.sorting-list-item a {
	color: rgba(0,0,0,0.3);
	border-bottom: 1px dashed #81b3d2;
}

.sorting-list-item a:hover {
	color: #81b3d2;
}

.sorting-list-item a:active {
	color: #000000;
	border: none;
}

.sorting-list .sorting-active {
	color: #81b3d2;
	border: none;
}

ul.hotel-list {
	font-size: 14px;
	line-height: 21px;
  	font-weight: 400;
  	margin: 0;
  	padding: 0;
	
	color: #333333;
	list-style: none;
}

.hotel {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.hotel-list h3 {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
}

.hotel-list h3:hover {
	color: #81b3d2;
}

.hotel-list h3:active {
	color: #cacaca;
}

.hotel a {
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
  	color: #ffffff;
}

.hotel .button-blue {
	background-color: #81b3d2;
}

.hotel .button-blue:hover {
	background-color: #669ec0;
}
.hotel .button-blue:active {
	color: rgba(148,185,210,0.3);
	background-color: #5496bd;
}

.hotel .button-brown {
	background-color: #766357;
}

.hotel .button-brown:hover {
	background-color: #604e43;
}
.hotel .button-brown:active {
	color: rgba(146,138,133,0.3);
	background-color: #503e33;
}

.hotel strong {
	font-weight: 400;
	color: #666666;
	background-color: #f2f2f2;
}
